<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vuedemo.mapper.UserMapper">
    <insert id="insert" parameterType="com.example.vuedemo.pojo.User">
        INSERT login_users ( id,username, PASSWORD, is_default, key_p )
   VALUES (#{id},#{username},#{password},#{isDefault},#{keyP})
    </insert>
</mapper>